/* ----- MAIN CONTACT -----*/
.main-contact{
    margin: auto;
    .box-container__contact{
        margin: auto;
        background-color: map-get($colors , color8);
        color: map-get($colors ,color1 );
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        h2{
            margin: .625rem 0;
        }   
        p{
            text-align: justify;
            max-width: 34.375rem;
            margin: .625rem;
        }
        .box-form{
            background-color: map-get($colors , color3);
            border-radius: 5px;
            padding: 0 1.875rem;
            form{
                margin: auto;
                padding: 1.25rem;
                border-radius: 5px;
                display: grid;
                grid-template-areas:
                    "name surname"
                    "phone email"
                    "message message";
                grid-gap: 1.25rem;
                .name{
                    grid-area: name;
                }
                .surname{
                    grid-area: surname;
                }
                .phone{
                    grid-area: phone map-get($colors , color1 );
                }
                .email{
                    grid-area: email;
                }
                .message{
                    grid-area: message;
                }
                fieldset{
                    color: transparent;
                    border: 2px solid #9999;
                    border-radius: 5px;
                    margin: 0.625rem 0;
                    padding: .3125rem;
                    color: #9999;
                    &:hover{
                        border: 2px solid #e2e2e2;
                        border-radius: 5px;
                        color: #e2e2e2;
                    }
                    legend{
                        margin: 0 .625rem;
                        padding: 0 .625rem;
                    }
                    input{
                        padding: .625rem;
                        width: 25rem;
                        border-bottom: 1px solid #999;
                        color: #999;
                        max-width: 18.75rem;
                        &:hover{
                            border-bottom: 1px solid #e2e2e2;
                            color: #e2e2e2;
                        }
                    }
                    textarea{
                        margin: .625rem;
                        width: 95%;
                        resize: none;
                        min-height: 12.5rem;
                        max-height: 18.75rem;
                        font-family: "Barlow", sans-serif;
                        background-color: transparent;
                        border-radius: 5px;
                        color: #999;
                        padding: .125rem .3125rem;
                        &:hover{
                            border:2px solid #e2e2e2;
                            border-radius: 5px;
                            color: #e2e2e2;
                        }
                    }
                }
            }
            div{
                .contact-information{
                    p{
                        margin: .625rem 0;

                    }
                    h3{
                        margin: .625rem 0;
                    }
                    
                }    
            }
        }
    }
}