.main-faq{
    color: #000;
    background-color: #232323;
    margin: 2rem 1rem;
    padding: 1rem .5rem;
    padding-bottom: 2rem;
    h2{
        color: #e2e2e2;
        text-align: center;
        padding: 1rem;
    }
    section{
        details{
            background-color: #d9d9d9;
            margin: 0rem 3rem; 
            padding: 0px 10px;
            summary{
                padding: .5rem;
                margin: .5rem;
                div{
                    border-top: 1px solid #000; 
                }
            }
        }
    }
}