.main-index{
    section{
        animation: section 2s ease-out forwards;
    }
    @keyframes section {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.main-cars{
    section{
        animation: section 2s ease-out forwards;
    }
    @keyframes section {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.main-faq{
    section{
        animation: section 2s ease-out forwards;
    }
    @keyframes section {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.main-contact{
    section{
        animation: section 2s ease-out forwards;
    }
    @keyframes section {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.main-location{
    section{
        animation: section 2s ease-out forwards;
    }
    @keyframes section {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}



