/* ----- BOOSTRAP MENU ----*/
.accordion-item{
    color:  map-get($colors , color1);
}

.accordion-body{
    background-color: map-get($colors , color3 );
    color:  map-get($colors ,   color1 );
}

.accordion-button{
    background-color: map-get($colors , color3 );
    color:  map-get($colors ,   color1 );
}
.accordion-button:not(.collapsed){
    background-color: map-get($colors , color3 );
    color:  map-get($colors ,   color1 );
}

.accordion-button .collapsed{ 
    background-color: map-get($colors , color3 );
    color: map-get($colors , color4 )
}
