/* ----- BUTTONS -------*/
/* ----- INDEX PAGE ----*/
.main-index{
    section{
        .rent-button{
            margin: .625rem;
            button{
                background-color:  map-get($colors , color6 );
                border-radius: 10px;
                padding: .625rem;
                margin-right: .625rem;
                transition: background-color 0.3s ease;
                &:hover{
                    background-color:  map-get($colors , color7);
                    border: 1px solid  map-get($colors , color9);
                }
                a{
                    color:  map-get($colors , color1 );
                }
            }
            .rent-information{
                color: map-get($colors , color1 );
                &:hover{
                    border-bottom: 1px solid  map-get($colors , color1);
                }
            }
        }
    }
}

/* ----- CARS PAGE -----*/
.main-cars{
    section{
        div{
            div{
                button{
                    margin: .3125rem;
                    background-color:  map-get($colors , color7);
                    border-radius: 20px;
                    padding: .9rem;
                    margin-top: 1.25rem;
                    transition: background-color 0.3s ease;
                    &:hover{
                        background-color:  map-get($colors , color6);
                    }
                    a{
                        color: map-get($colors , color1);
                    }
                }   
            }
        }
    }
}

.main-contact{
    .box-container__contact{
        .box-form{
            form{
                .box-button{
                    display: flex;
                    justify-content: center;
                    grid-column: 1 / -1;
                    .contact-form__button{
                        border-radius: 7px;
                        padding: 10px 18px;
                        background-color: #399D4F77;
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: #e2e2e2ee;
                        transition: background-color 0.3s;
                        &:hover{
                            background-color: #399d4f;
                            box-shadow:2px 0px 2px 0px #399D4F19;
                        }
                    }
                }
            }
        }
    }
}