*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #e2e2e2;
}
button{
    all: unset;
}
input{
    all:unset;
}

body{
    font-family: "barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #1d1d1e;
    max-width: 93.75rem;
    margin: auto;
}