@media (max-width:768px){
    header{
        h1{
            display: none;
        }
    }
    .main-index{
        max-width: 37.5rem;
        margin: auto;
        section{
            h2{
                letter-spacing: normal;
                font-size: 1.5rem;
            }
            border-radius: 20px;
            p{
                letter-spacing:normal;
                font-size: 1rem;
                text-align: center;
                width: 15.625rem;
            }
        }
        .section-aboutUs{
            img{
                border-radius: 100%;
                width: 12.5rem;
                height: 12.5rem;
                transform: scale(.9);
            }
        }
        .section-featuredCar{
            padding: 1.875rem 0;
            img{
                border-radius: 100%;
                width: 14.625rem;
                height: 12.5rem;
                transform: scale(.85);
                div{
                    p{
                        margin: .3125rem 0;
                        text-align: center;
                    }
                }
            }
        }
            .rent-button{
                @include flex_colum-center;
                flex-direction: column-reverse;
                margin: .4375rem 0;
                letter-spacing: normal;
                button{
                    margin-top: 1.5625rem;
                }
                .rent-information{
                    border-top: 1px solid map-get($colors , color5 );
                    padding-top: .625rem;
                }
            }
    }
    .main-cars{
        margin: auto;
        h2{
            margin: .625rem;
        }
        section{
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 1.25rem;
            article{
                width: 12.5rem;
                height: 25rem;
                margin: auto;
                div{
                    p{
                        font-size: .9375rem;
                    }
                    div{
                        margin: .625rem 0;
                        padding: .3125rem 0;
                        border-top: 1px solid map-get($colors , color4);
                        div{
                            button{
                                margin: .625rem;
                                padding: 2px;
                                
                                a{
                                    font-size: .625rem;
                                }
                            }
                            .car-info{
                                font-size: .625rem; 
                            }
                        }
                    }
                }
            }
        }
    }
    .main-contact{
        margin: 1.875rem;
        .box-container__contact{
            margin: auto;
            width: 31.25rem;
            p{
                max-width: 23.75rem;
            }
            .box-form{
                padding: 0;
                max-width: 25rem;
                form{
                    @include flex_colum-center;
                    justify-content:center;
                    max-width: 25rem;
                    fieldset{
                        padding: .625rem;
                        legend{
                            margin: auto;
                            max-width: 18.75rem;
                            height: 1.125rem;
                        }
                        input{
                            margin: auto;
                            max-width: 18.75rem;
                            height: 1.125rem;
                        }
                        textarea{
                            width: 18.75rem;
                            min-height: 5.3125rem;
                        }
                    }
                }
            }
        }
        .contact-information{
            @include flex_colum-center;
            margin-left: 0;
        }
    }
    .main-location{
        margin: 1.875rem auto;
        section{
            div{
                iframe{
                    width: 26.875rem;
                    height: 31.25rem;
                    margin: auto;
                }
            }
        }
        .contact-information__box{
            @include flex_colum-center;
            margin: auto;
            div{
                text-align: center;
            }
        }
    }
    
}