/* ---- UTILITIES -----*/
/* ----- BASE -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #e2e2e2; }

button {
  all: unset; }

input {
  all: unset; }

body {
  font-family: "barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #1d1d1e;
  max-width: 93.75rem;
  margin: auto; }

/* ----- LAYOUT -----*/
/* ---- HEADER -----*/
header {
  background-color: #232328;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header h1 {
    font-weight: 600;
    color: #e2e2e2;
    padding: 0; }

.login-box {
  display: flex; }
  .login-box div {
    border-left: 2px solid #49444b;
    margin-right: .125rem; }
    .login-box div a {
      display: flex;
      justify-items: center;
      color: #e2e2e2;
      margin-left: .625rem;
      margin-right: .125rem; }
      .login-box div a:hover {
        color: #399d4f;
        border-radius: 100%; }
      .login-box div a .material-symbols-outlined {
        display: none;
        cursor: pointer; }

.main-index {
  color: #e2e2e2;
  margin: 2rem; }
  .main-index section, .main-index .main-location section .contact-information__box, .main-location section .main-index .contact-information__box {
    background-color: #232328;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1.25rem;
    margin: 1.875rem; }
    .main-index section h2, .main-index .main-location section .contact-information__box h2, .main-location section .main-index .contact-information__box h2 {
      letter-spacing: .125rem;
      font-size: 1.875rem; }
    .main-index section img, .main-index .main-location section .contact-information__box img, .main-location section .main-index .contact-information__box img {
      width: 20rem;
      height: 16.25rem;
      margin: 1.25rem 0;
      border-radius: 0px 20px 20px 20px;
      box-shadow: 4px -2px 4px 0px #49444b; }
    .main-index section .aboutUs-p, .main-location section .main-index .contact-information__box .aboutUs-p {
      max-width: 21.875rem;
      align-content: center;
      padding-bottom: 1.25rem;
      margin: .625rem 0;
      text-align: justify; }
    .main-index section div, .main-index .main-location section .contact-information__box div, .main-location section .main-index .contact-information__box div {
      margin: .625rem 0; }
      .main-index section div p, .main-index .main-location section .contact-information__box div p, .main-location section .main-index .contact-information__box div p, .main-index .main-location section div .contact-information__box .contact-information__text h3, .main-location .main-index section div .contact-information__box .contact-information__text h3, .main-location .main-index section .contact-information__box .contact-information__text div h3, .main-index .main-location section .contact-information__box div .contact-information__text h3, .main-index .main-location section .contact-information__box .contact-information__text div h3, .main-location section .main-index .contact-information__box div .contact-information__text h3, .main-location section .main-index .contact-information__box .contact-information__text div h3 {
        margin: .9375rem;
        letter-spacing: 1px; }
  .main-index .section-aboutUs h2 {
    color: #e2e2e2; }
  .main-index .section-featuredCar h2 {
    color: #e2bf42;
    border-bottom: 2px solid; }

.main-cars {
  background-color: #232328;
  color: #e2e2e2;
  margin: 2rem;
  padding: 1rem .5rem;
  border-radius: 10px; }
  .main-cars h2 {
    text-align: center; }
  .main-cars section, .main-cars .main-location section .contact-information__box, .main-location section .main-cars .contact-information__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem; }
    .main-cars section article, .main-cars .main-location section .contact-information__box article, .main-location section .main-cars .contact-information__box article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.75rem;
      color: #e2e2e2;
      background-color: #49444b;
      margin: .9375rem;
      border-radius: 5px; }
      .main-cars section article h3, .main-cars .main-location section .contact-information__box article h3, .main-location section .main-cars .contact-information__box article h3 {
        font-weight: 600;
        margin-top: .3125rem; }
      .main-cars section article img, .main-cars .main-location section .contact-information__box article img, .main-location section .main-cars .contact-information__box article img {
        width: 60%;
        height: 60%;
        object-fit: cover;
        border-radius: 20px;
        margin: 1.25rem; }
      .main-cars section article div p, .main-cars .main-location section .contact-information__box article div p, .main-location section .main-cars .contact-information__box article div p, .main-cars .main-location section article div .contact-information__box .contact-information__text h3, .main-location .main-cars section article div .contact-information__box .contact-information__text h3, .main-location .main-cars section .contact-information__box .contact-information__text article div h3, .main-cars .main-location section .contact-information__box article div .contact-information__text h3, .main-cars .main-location section .contact-information__box .contact-information__text article div h3, .main-location section .main-cars .contact-information__box article div .contact-information__text h3, .main-location section .main-cars .contact-information__box .contact-information__text article div h3 {
        margin: .3125rem;
        text-align: center; }

/* ----- MAIN CONTACT -----*/
.main-contact {
  margin: auto; }
  .main-contact .box-container__contact {
    margin: auto;
    background-color: #232328;
    color: #e2e2e2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; }
    .main-contact .box-container__contact h2 {
      margin: .625rem 0; }
    .main-contact .box-container__contact p, .main-contact .box-container__contact .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text .main-contact .box-container__contact h3 {
      text-align: justify;
      max-width: 34.375rem;
      margin: .625rem; }
    .main-contact .box-container__contact .box-form {
      background-color: #3d3a3e;
      border-radius: 5px;
      padding: 0 1.875rem; }
      .main-contact .box-container__contact .box-form form {
        margin: auto;
        padding: 1.25rem;
        border-radius: 5px;
        display: grid;
        grid-template-areas: "name surname" "phone email" "message message";
        grid-gap: 1.25rem; }
        .main-contact .box-container__contact .box-form form .name {
          grid-area: name; }
        .main-contact .box-container__contact .box-form form .surname {
          grid-area: surname; }
        .main-contact .box-container__contact .box-form form .phone {
          grid-area: phone #e2e2e2; }
        .main-contact .box-container__contact .box-form form .email {
          grid-area: email; }
        .main-contact .box-container__contact .box-form form .message {
          grid-area: message; }
        .main-contact .box-container__contact .box-form form fieldset {
          color: transparent;
          border: 2px solid #9999;
          border-radius: 5px;
          margin: 0.625rem 0;
          padding: .3125rem;
          color: #9999; }
          .main-contact .box-container__contact .box-form form fieldset:hover {
            border: 2px solid #e2e2e2;
            border-radius: 5px;
            color: #e2e2e2; }
          .main-contact .box-container__contact .box-form form fieldset legend {
            margin: 0 .625rem;
            padding: 0 .625rem; }
          .main-contact .box-container__contact .box-form form fieldset input {
            padding: .625rem;
            width: 25rem;
            border-bottom: 1px solid #999;
            color: #999;
            max-width: 18.75rem; }
            .main-contact .box-container__contact .box-form form fieldset input:hover {
              border-bottom: 1px solid #e2e2e2;
              color: #e2e2e2; }
          .main-contact .box-container__contact .box-form form fieldset textarea {
            margin: .625rem;
            width: 95%;
            resize: none;
            min-height: 12.5rem;
            max-height: 18.75rem;
            font-family: "Barlow", sans-serif;
            background-color: transparent;
            border-radius: 5px;
            color: #999;
            padding: .125rem .3125rem; }
            .main-contact .box-container__contact .box-form form fieldset textarea:hover {
              border: 2px solid #e2e2e2;
              border-radius: 5px;
              color: #e2e2e2; }
      .main-contact .box-container__contact .box-form div .contact-information p, .main-contact .box-container__contact .box-form div .contact-information .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text .main-contact .box-container__contact .box-form div .contact-information h3 {
        margin: .625rem 0; }
      .main-contact .box-container__contact .box-form div .contact-information h3 {
        margin: .625rem 0; }

/* ----- LOCATION PAGE ------*/
.main-location {
  margin: 1rem;
  color: #e2e2e2;
  border-radius: 5px;
  background-color: #232328;
  padding: .625rem; }
  .main-location section, .main-location section .contact-information__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-location section h2, .main-location section .contact-information__box h2 {
      margin: .3125rem 0; }
    .main-location section p, .main-location section .contact-information__box p, .main-location section .contact-information__box .contact-information__text h3 {
      margin: .3125rem 0; }
    .main-location section .box-map iframe {
      margin: 1rem 2rem;
      background-color: #49444b;
      border-radius: 5px;
      padding: 1rem; }
    .main-location section .contact-information__box {
      justify-content: center;
      margin-right: 25rem; }
      .main-location section .contact-information__box .contact-information__text {
        text-align: left; }
        .main-location section .contact-information__box .contact-information__text p, .main-location section .contact-information__box .contact-information__text h3 {
          margin: .625rem 0; }

.main-faq {
  color: #000;
  background-color: #232323;
  margin: 2rem 1rem;
  padding: 1rem .5rem;
  padding-bottom: 2rem; }
  .main-faq h2 {
    color: #e2e2e2;
    text-align: center;
    padding: 1rem; }
  .main-faq section details, .main-faq .main-location section .contact-information__box details, .main-location section .main-faq .contact-information__box details {
    background-color: #d9d9d9;
    margin: 0rem 3rem; }
    .main-faq section details summary, .main-faq .main-location section .contact-information__box details summary, .main-location section .main-faq .contact-information__box details summary {
      padding: .5rem;
      margin: .5rem; }
      .main-faq section details summary div, .main-faq .main-location section .contact-information__box details summary div, .main-location section .main-faq .contact-information__box details summary div {
        border-top: 1px solid #000; }

footer {
  background-color: #232328;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px; }
  footer div ul li {
    margin: 1.25rem 0; }
    footer div ul li a {
      color: #e2e2e2; }
      footer div ul li a:hover {
        border-bottom: 2px solid #e2e2e2; }
  footer p, footer .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text footer h3 {
    color: #49444b;
    display: flex;
    align-items: end; }

/* ----- COMPONENTS ------- */
.main-index section .rent-button, .main-location section .main-index .contact-information__box .rent-button {
  margin: .625rem; }
  .main-index section .rent-button button, .main-location section .main-index .contact-information__box .rent-button button {
    background-color: #399d4f;
    border-radius: 10px;
    padding: .625rem;
    margin-right: .625rem;
    transition: background-color 0.3s ease; }
    .main-index section .rent-button button:hover, .main-location section .main-index .contact-information__box .rent-button button:hover {
      background-color: #399d4f77; }
    .main-index section .rent-button button a, .main-location section .main-index .contact-information__box .rent-button button a {
      color: #e2e2e2; }
      .main-index section .rent-button button a:hover, .main-location section .main-index .contact-information__box .rent-button button a:hover {
        border-bottom: 1px solid #e2e2e2; }
  .main-index section .rent-button .rent-information, .main-location section .main-index .contact-information__box .rent-button .rent-information {
    color: #e2e2e2; }
    .main-index section .rent-button .rent-information:hover, .main-location section .main-index .contact-information__box .rent-button .rent-information:hover {
      border-bottom: 1px solid #e2e2e2; }

.main-cars section div div button, .main-cars .main-location section .contact-information__box div div button, .main-location section .main-cars .contact-information__box div div button {
  margin: .3125rem;
  background-color: #399d4f77;
  border-radius: 20px;
  padding: .9rem;
  margin-top: 1.25rem;
  transition: background-color 0.3s ease; }
  .main-cars section div div button:hover, .main-location section .main-cars .contact-information__box div div button:hover {
    background-color: #399d4f; }
  .main-cars section div div button a, .main-cars .main-location section .contact-information__box div div button a, .main-location section .main-cars .contact-information__box div div button a {
    color: #e2e2e2; }

.main-contact .box-container__contact .box-form form .box-button {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1; }
  .main-contact .box-container__contact .box-form form .box-button .contact-form__button {
    border-radius: 7px;
    padding: 10px 18px;
    background-color: #399D4F77;
    font-size: 1.25rem;
    font-weight: 500;
    color: #e2e2e2ee;
    transition: background-color 0.3s; }
    .main-contact .box-container__contact .box-form form .box-button .contact-form__button:hover {
      background-color: #399d4f;
      box-shadow: 2px 0px 2px 0px #399D4F19; }

/* ---- CONTACT INPUTS -----*/
.main-contact .box-form form input[type="number"]::-webkit-outer-spin-button, .main-contact .box-form form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.main-contact .box-form form fieldset {
  color: transparent;
  border: 2px solid #9999;
  border-radius: 5px;
  margin: .625rem 0;
  padding: .3125rem;
  color: #9999; }
  .main-contact .box-form form fieldset:hover {
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    color: #e2e2e2; }
  .main-contact .box-form form fieldset legend {
    margin: 0 .625rem;
    padding: 0 .625rem; }
  .main-contact .box-form form fieldset input {
    padding: .625rem;
    width: 25rem;
    border-bottom: 1px solid #9999;
    color: #9999;
    max-width: 18.75rem; }
    .main-contact .box-form form fieldset input:hover {
      border-bottom: 1px solid #e2e2e2;
      color: #e2e2e2; }
  .main-contact .box-form form fieldset textarea {
    margin: .625rem;
    width: 95%;
    resize: none;
    min-height: 12.5rem;
    max-height: 18.75rem;
    font-family: "barlow",sans-serif;
    background-color: transparent;
    border-radius: 5px;
    color: #3d3a3e;
    padding: .125rem .3125rem; }
    .main-contact .box-form form fieldset textarea:hover {
      border: 2px solid #e2e2e2;
      border-radius: 5px;
      color: #e2e2e2; }
  .main-contact .box-form form fieldset .box-button {
    display: flex;
    justify-content: center;
    grid-column: 1/-1; }
    .main-contact .box-form form fieldset .box-button input {
      border-radius: 7px;
      padding: .625rem 1.125rem;
      background-color: #399d4f;
      font-size: 1.25rem;
      font-weight: 500; }
      .main-contact .box-form form fieldset .box-button input:hover {
        background-color: #399d4f;
        box-shadow: 2px 0px 2px 0px #399d4f77; }

nav .label-menu {
  display: none;
  cursor: pointer; }

nav #menu-toggle {
  display: none; }

nav .header-navbar {
  display: flex;
  margin-right: 6.25rem; }
  nav .header-navbar li {
    margin: 0 .3125rem; }
    nav .header-navbar li a {
      position: relative;
      display: inline-block;
      color: #e2e2e2;
      padding-bottom: .3125rem; }
      nav .header-navbar li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #d9d9d9;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out; }
      nav .header-navbar li a:hover::after {
        transform: scaleX(1); }

footer nav div {
  border-left: 2px solid #49444b; }
  footer nav div li {
    margin: .9375rem 0;
    padding-left: 1.25rem; }
    footer nav div li a {
      color: #999; }
      footer nav div li a:hover {
        border-bottom: 2px solid #49444b; }

/* ---- MEDIA QUERIES -----*/
@media (max-width: 768px) {
  header h1 {
    display: none; }
  .main-index {
    max-width: 37.5rem;
    margin: auto; }
    .main-index section, .main-index .main-location section .contact-information__box, .main-location section .main-index .contact-information__box {
      border-radius: 20px; }
      .main-index section h2, .main-index .main-location section .contact-information__box h2, .main-location section .main-index .contact-information__box h2 {
        letter-spacing: normal;
        font-size: 1.5rem; }
      .main-index section p, .main-index .main-location section .contact-information__box p, .main-location section .main-index .contact-information__box p, .main-location .main-index section .contact-information__box .contact-information__text h3, .main-index .main-location section .contact-information__box .contact-information__text h3, .main-location section .main-index .contact-information__box .contact-information__text h3 {
        letter-spacing: normal;
        font-size: 1rem;
        text-align: center;
        width: 15.625rem; }
    .main-index .section-aboutUs img {
      border-radius: 100%;
      width: 12.5rem;
      height: 12.5rem;
      transform: scale(0.9); }
    .main-index .section-featuredCar {
      padding: 1.875rem 0; }
      .main-index .section-featuredCar img {
        border-radius: 100%;
        width: 14.625rem;
        height: 12.5rem;
        transform: scale(0.85); }
        .main-index .section-featuredCar img div p, .main-index .section-featuredCar img div .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text .main-index .section-featuredCar img div h3 {
          margin: .3125rem 0;
          text-align: center; }
    .main-index .rent-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-direction: column-reverse;
      margin: .4375rem 0;
      letter-spacing: normal; }
      .main-index .rent-button button {
        margin-top: 1.5625rem; }
      .main-index .rent-button .rent-information {
        border-top: 1px solid #9999;
        padding-top: .625rem; }
  .main-cars {
    margin: auto; }
    .main-cars h2 {
      margin: .625rem; }
    .main-cars section, .main-cars .main-location section .contact-information__box, .main-location section .main-cars .contact-information__box {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.25rem; }
      .main-cars section article, .main-cars .main-location section .contact-information__box article, .main-location section .main-cars .contact-information__box article {
        width: 12.5rem;
        height: 25rem;
        margin: auto; }
        .main-cars section article div p, .main-cars .main-location section .contact-information__box article div p, .main-location section .main-cars .contact-information__box article div p, .main-cars .main-location section article div .contact-information__box .contact-information__text h3, .main-location .main-cars section article div .contact-information__box .contact-information__text h3, .main-location .main-cars section .contact-information__box .contact-information__text article div h3, .main-cars .main-location section .contact-information__box article div .contact-information__text h3, .main-cars .main-location section .contact-information__box .contact-information__text article div h3, .main-location section .main-cars .contact-information__box article div .contact-information__text h3, .main-location section .main-cars .contact-information__box .contact-information__text article div h3 {
          font-size: .9375rem; }
        .main-cars section article div div, .main-cars .main-location section .contact-information__box article div div, .main-location section .main-cars .contact-information__box article div div {
          margin: .625rem 0;
          padding: .3125rem 0;
          border-top: 1px solid #999; }
          .main-cars section article div div div button, .main-cars .main-location section .contact-information__box article div div div button, .main-location section .main-cars .contact-information__box article div div div button {
            margin: .625rem;
            padding: .1875rem; }
            .main-cars section article div div div button a, .main-cars .main-location section .contact-information__box article div div div button a, .main-location section .main-cars .contact-information__box article div div div button a {
              font-size: .75rem; }
          .main-cars section article div div div .car-info, .main-location section .main-cars .contact-information__box article div div div .car-info {
            font-size: .75rem; }
  .main-contact {
    margin: 1.875rem; }
    .main-contact .box-container__contact {
      margin: auto;
      width: 31.25rem; }
      .main-contact .box-container__contact p, .main-contact .box-container__contact .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text .main-contact .box-container__contact h3 {
        max-width: 23.75rem; }
      .main-contact .box-container__contact .box-form {
        padding: 0;
        max-width: 25rem; }
        .main-contact .box-container__contact .box-form form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 25rem; }
          .main-contact .box-container__contact .box-form form fieldset {
            padding: .625rem; }
            .main-contact .box-container__contact .box-form form fieldset legend {
              margin: auto;
              max-width: 18.75rem;
              height: 1.125rem; }
            .main-contact .box-container__contact .box-form form fieldset input {
              margin: auto;
              max-width: 18.75rem;
              height: 1.125rem; }
            .main-contact .box-container__contact .box-form form fieldset textarea {
              width: 18.75rem;
              min-height: 5.3125rem; }
    .main-contact .contact-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0; }
  .main-location {
    margin: 1.875rem auto; }
    .main-location section div iframe, .main-location section .contact-information__box div iframe {
      width: 26.875rem;
      height: 31.25rem;
      margin: auto; }
    .main-location .contact-information__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto; }
      .main-location .contact-information__box div {
        text-align: center; } }

@media (max-width: 480px) {
  header {
    border-bottom: 2px solid #e2e2e2; }
    header nav .material-symbols-outlined {
      display: block;
      color: #e2e2e2; }
    header nav .header-navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      top: 7%;
      left: 0;
      width: 100%;
      background-color: #3d3a3e; }
      header nav .header-navbar li {
        text-align: center;
        padding: .9375rem;
        border-bottom: 1px solid #777; }
    header nav #menu-toggle:checked ~ .header-navbar {
      display: flex; }
  .main-index {
    max-width: 37.5rem;
    margin: auto; }
    .main-index section, .main-index .main-location section .contact-information__box, .main-location section .main-index .contact-information__box {
      margin: 1.875rem; }
    .main-index .section-aboutUs p, .main-index .section-aboutUs .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text .main-index .section-aboutUs h3 {
      font-size: .75rem;
      max-width: 9.375rem; }
    .main-index .section-aboutUs img {
      transform: scale(0.7);
      margin: 0; }
    .main-index .section-feacturedCar div {
      margin-bottom: .625rem;
      margin-top: 0; }
    .main-index .section-feacturedCar img {
      width: 14rem;
      height: 12.5rem;
      transform: scale(0.6);
      margin: 0; }
    .main-index .section-feacturedCar .rent-button a {
      margin-top: .625rem;
      padding-top: 1.25rem; }
  .main-cars {
    max-width: 100%;
    margin: auto; }
    .main-cars section, .main-cars .main-location section .contact-information__box, .main-location section .main-cars .contact-information__box {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.25rem; }
      .main-cars section article, .main-cars .main-location section .contact-information__box article, .main-location section .main-cars .contact-information__box article {
        border-radius: 30px;
        width: 18.75;
        height: 31.25; }
        .main-cars section article h3, .main-cars .main-location section .contact-information__box article h3, .main-location section .main-cars .contact-information__box article h3 {
          font-size: .8125rem; }
        .main-cars section article div p, .main-cars .main-location section .contact-information__box article div p, .main-location section .main-cars .contact-information__box article div p, .main-cars .main-location section article div .contact-information__box .contact-information__text h3, .main-location .main-cars section article div .contact-information__box .contact-information__text h3, .main-location .main-cars section .contact-information__box .contact-information__text article div h3, .main-cars .main-location section .contact-information__box article div .contact-information__text h3, .main-cars .main-location section .contact-information__box .contact-information__text article div h3, .main-location section .main-cars .contact-information__box article div .contact-information__text h3, .main-location section .main-cars .contact-information__box .contact-information__text article div h3 {
          font-size: .6875rem; }
        .main-cars section article div div, .main-cars .main-location section .contact-information__box article div div, .main-location section .main-cars .contact-information__box article div div {
          border: none;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          margin: 0;
          margin-top: .625rem; }
  .main-contact {
    margin: auto; }
    .main-contact .box-container__contact {
      width: 100%; }
      .main-contact .box-container__contact .form-tittle {
        font-size: 1.5rem; }
      .main-contact .box-container__contact .form-p {
        font-size: .8rem;
        width: 15.625;
        margin: .3125rem 0; }
      .main-contact .box-container__contact .box-form {
        width: 20.625rem;
        margin: .625rem 0; }
        .main-contact .box-container__contact .box-form .contact-form {
          margin: auto;
          max-width: 30rem; }
          .main-contact .box-container__contact .box-form .contact-form fieldset legend {
            margin: auto;
            width: 15.625rem;
            height: 1.125rem; }
          .main-contact .box-container__contact .box-form .contact-form fieldset input {
            margin: auto;
            width: 15.625rem;
            height: 1.125rem; }
          .main-contact .box-container__contact .box-form .contact-form fieldset textarea {
            width: 15.625rem;
            height: 1.875rem; }
          .main-contact .box-container__contact .box-form .contact-form fieldset .message {
            width: 15.625rem; }
        .main-contact .box-container__contact .box-form .contact-information {
          padding: 0;
          margin: 0;
          text-align: center;
          font-size: 10px;
          margin-left: 0; }
  .main-location {
    margin: auto; }
    .main-location section h2, .main-location section .contact-information__box h2 {
      font-size: 1.1875; }
    .main-location section p, .main-location section .contact-information__box p, .main-location section .contact-information__box .contact-information__text h3 {
      font-size: .75rem; }
    .main-location section .box-map iframe {
      width: 18.75;
      height: 25rem; }
    .main-location div .contact-information__box div h3 {
      font-size: .75rem; }
    .main-location div .contact-information__box div p, .main-location div section .contact-information__box div .contact-information__text h3, .main-location section div .contact-information__box div .contact-information__text h3, .main-location div section .contact-information__box .contact-information__text div h3, .main-location section div .contact-information__box .contact-information__text div h3 {
      font-size: .75rem; }
  footer {
    border-top: 2px solid #e2e2e2; }
    footer div .footer-socialMedia {
      display: grid;
      grid-template-areas: "instagram facebook" "whatsapp emailFt";
      grid-gap: 1.25rem;
      row-gap: 0; }
      footer div .footer-socialMedia .instagram {
        grid-area: instagram; }
      footer div .footer-socialMedia .facebook {
        grid-area: facebook; }
      footer div .footer-socialMedia .whatsapp {
        grid-area: whatsapp; }
      footer div .footer-socialMedia .email-ft {
        grid-area: emailFt; }
      footer div .footer-socialMedia li a {
        font-size: .75rem; }
    footer p, footer .main-location section .contact-information__box .contact-information__text h3, .main-location section .contact-information__box .contact-information__text footer h3 {
      font-size: .4375; }
    footer nav .footer-line ul {
      font-size: .5rem; } }
